# Supplemental third-party licence evidence is whitelist-only and never copied into an
# MCPB directly; the deterministic notice bundle carries validated bytes.
/*
!/.gitignore
!/rmcp-1.7.0-LICENSE.txt
